APP_NAME=secure-api-gateway
APP_VERSION=0.1.0
ENVIRONMENT=local
LOG_LEVEL=INFO
HOST=127.0.0.1
PORT=8010
CORS_ORIGINS=["http://localhost:3000","http://localhost:4200","http://localhost:8010"]
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=poc-realm
KEYCLOAK_CLIENT_ID=fastapi-auth-gateway
KEYCLOAK_CLIENT_SECRET=fastapi-auth-gateway-secret
KEYCLOAK_TIMEOUT_SECONDS=10
